* {
    border: solid red 1px;
}

body {
    background-color: #1f2937;
    color: white;
    height: 100;
    
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
}

.header {
    display: flex;
    justify-content: space-around;
   
    
}

.logo {
    display: flex;
    padding: 10px;
    
    
}

.right-links {
    display: flex;
    justify-content: flex-end;
}
ul {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 18px;
}

li {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.banner {
    display: flex;
    justify-content: flex-start;
    
    
}
.banner-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 500px;
    margin-right: 20px;
    align-items: flex-start;    
}

.dog {
}

.title {
    
    font-size: 48px;
    color: #F9FAF8;
    font-weight:bolder;
    margin-top: 10px;
}

.subtext {
    margin-top: -40px;
    
    
    
    
}
button {
    background-color: #3882f6;
    color: #F9FAF8;
    font-weight: bold;
    border-radius: 5px;
    border-color: #F9FAF8;
    width: 60px;
    height: 20px;
    font-size: 10px
}

.middle {
    
    background-color: white;
    color: #1f2937;
    justify-content: center;
}

h3 {
    font-size: 36px;
    font-weight: bold;
}

[class ^="box-"]{
    
    width: 100px;
    height: 100px;
    border-radius: 5px;
    border: solid #3882f6 3px;
}  